<a href="https://colab.research.google.com/github/JordanDouglasRDM/Avaliacao_nivel_iniciante/blob/main/P1_Python_Alg_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**P1**

##**Caso use a estrutura de repetição "for", poderá usar o operador in, a função len, range, print, int, float, input, apenas. Vetor/matriz e nenhuma outra função pronta de Python, será aceita.**

###[2,00 pontos] **1.** Utilize a linguagem de programação PYTHON. Crie um programa que leia o ano de nascimento de uma pessoa e o ano atual, calcule e mostre a idade da pessoa em:
a) anos

b) meses

In [ ]:
ano_nascimento = int(input('Informe o seu ano de nascimento: '))
idade_anos = 2022 - ano_nascimento
idade_meses = idade_anos * 12
print(F'Você tem {idade_anos} anos idade.')
print(F'Ou {idade_meses} meses de idade.')

Informe o seu ano de nascimento: 1942
Você tem 80 anos idade.
Ou 960 meses de idade.

###**2.** Utilize a linguagem de programação PYTHON. Crie um programa que leia o salário de um funcionário. Calcule e apresente os seguintes itens:
a) Valor descontado do INSS (Instituto Nacional do Seguro Social)

b) Valor descontado do IRPF (Imposto de Renda Pessoa física)  

c) Valor do salário líquido


SALÁRIO R$ |  Alíquota INSS % |
 ---|---
até 1212.00  |	7.50  |
de 1212.01 até 2427.35	| 9.00 |
de 2427.36 até 3641.03	| 12.00 |
de 3641.03 até 7087.22  | 14.00|
Acima 7087.22 | R\$ 828.38|

Observação: o valor R$ 828.38 é fixo para qualquer valor de salário acima de R\$ 7087.22, conhecido como teto do INSS.

Para calcular o valor a ser descontado do IRPF, deve-se usar o salário já descontado do INSS.

Base de cálculo	 R$ |  Alíquota IR % | Parcela a deduzir do IRPF R\$|
 ---|---|---
até 1903.98  |	-  | 0.00
de 1903.99 até 2826.65	| 7.50  | 142.80
de 2826.66 até 3751.05	| 15.00 | 354.80
de 3751.06 até 4664.68  | 22.50 | 631.13
Acima  4664.68 | 27.50| 869.36

Exemplo: 

    salário: 3000.00 - 12%
    inss = 360.00
    Salário descontado do INSS 2640.00 * 7.50
    ir -> 198.00 - 142.80 = 55.20
    Salário líquido = 2584.80

In [ ]:
salario = float(input('Informe o seu salário bruto: '))
if salario <= 1212:
    inss = salario * 0.075
    salario_inss = salario - inss
elif salario >= 1212.01 and salario <= 2427.35:
    inss = salario * 0.09
    salario_inss = salario - inss
elif salario >= 2427.36 and salario <= 3641.03:
    inss = salario * 0.12
    salario_inss = salario - inss
elif salario >= 3641.04 and salario <= 7087.22:
    inss = salario * 0.14
    salario_inss = salario - inss
elif salario > 7087.22:
    inss = 828.38
    salario_inss = salario - inss
if salario_inss <= 1903.98:
    irpf = 0
    salario_fim = salario_inss - 0
elif salario_inss >= 1903.99 and salario <= 2826.65:
    irpf = (salario_inss * 0.075) - 142.8
    salario_fim = salario_inss - irpf
elif salario_inss >= 2826.66 and salario <= 3751.05:
    irpf = (salario_inss * 0.15) - 354.8
    salario_fim = salario_inss - irpf
elif salario_inss >= 3751.06 and salario <= 4664.68:
    irpf = (salario_inss * 0.225) - 631.13
    salario_fim = salario_inss - irpf
elif salario_inss > 4664.68:
    irpf = (salario_inss * 0.275) - 869.36
    salario_fim = salario_inss - irpf
print('\n\n')
print(F'O valor descontado do INSS é R${inss:.2f}')
print(F'O valor descontado do IRPF é R${irpf:.2f}')
print(F'o salário líquido é de R${salario_fim:.2f}')

Informe o seu salário bruto: 7090



O valor descontado do INSS é R$828.38
O valor descontado do IRPF é R$852.59
o salário líquido é de R$5409.03

###**3.** Utilize a linguagem de programação PYTHON. Crie um programa que leia o salário de 10 funcionários. Escolha a estrutura de repetição. Calcule e apresente:
###a) Média de salários pagos acima de 2000 reais;
###b) Quantos funcionários ganham até 2000.

In [ ]:
soma_salario = 0
cont_salario = 0
cont_menor = 0
for i in range(1,11):
    salario_lido = float(input(F'Informe o salario do {i}° funcionário: '))
    if salario_lido > 2000:
        soma_salario = soma_salario + salario_lido
        cont_salario = cont_salario + 1
    elif salario_lido <= 2000:
          cont_menor = cont_menor + 1
media_salario = soma_salario / cont_salario
    
print('\n\n')
print(F'{cont_menor} funcionários recebem um valor menor que R$2000,00.')
print(F'A média dos salários que ultrapassam os R$2000,00 é R${media_salario:.2f}')

Informe o salario do 1° funcionário: 1234
Informe o salario do 2° funcionário: 1235
Informe o salario do 3° funcionário: 1236
Informe o salario do 4° funcionário: 1237
Informe o salario do 5° funcionário: 1238
Informe o salario do 6° funcionário: 3214
Informe o salario do 7° funcionário: 3211
Informe o salario do 8° funcionário: 7890
Informe o salario do 9° funcionário: 1830
Informe o salario do 10° funcionário: 2450



6 funcionários recebem um valor menor que R$2000,00.
A média dos salários que ultrapassam os R$2000,00 é R$4191.25